In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#  The code reads a CSV file named "TCS1.csv" into a DataFrame (df) and then displays the first few rows of the DataFrame using the "head()" function, providing an initial view of the data in the file.

In [2]:
df = pd.read_csv("TCS1.csv")
df.head()

,Date,Open,High,Low,Adj Close,Volume,Close
0,27-08-2004,122.800003,122.800003,119.820000,88.088272,30646000.0,120.332497
1,30-08-2004,121.237503,123.750000,120.625000,90.293549,24465208.0,123.345001
2,31-08-2004,123.312500,123.750000,122.000000,90.416122,21194656.0,123.512497
3,01-09-2004,123.750000,124.375000,122.949997,90.397820,19935544.0,123.487503
4,02-09-2004,123.737503,125.574997,123.250000,90.924896,21356352.0,124.207497

# Column Description :

This Dataset Contains the Historical Share Price of Tata Consultancy Services ltd(TCS) From 2004 to 2002.

This Dataset Contains seven columns

Date-- Date includes day and month and year
open -- open value of the TCS stock price on particular day
High -- high price value of TCS on particular day
LOW -- Low Price Value Of ITC on particular day
Close --Stock Price of TCS After Closing The Stock Market
Volume -- Volume of TCS means sum of buy's and shares
Adjclose --Adjusted close is the closing price after adjustments for all applicable splits and dividend distributions

# The given line of code calculates the percentage of missing values in each column of a DataFrame `df`.

In [3]:
df.isnull().sum()/len(df)*100

Date         0.000000
Open         0.178015
High         0.178015
Low          0.178015
Adj Close    0.178015
Volume       0.178015
Close        0.178015
dtype: float64

# This code removes rows with missing (NaN) values from the DataFrame "df" in place, meaning it modifies the DataFrame directly without creating a new one.

In [4]:
df.dropna(inplace=True)

In [5]:
df.isnull().sum()/len(df)*100

Date         0.0
Open         0.0
High         0.0
Low          0.0
Adj Close    0.0
Volume       0.0
Close        0.0
dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4486 entries, 0 to 4493
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4486 non-null   object
 1   Open       4486 non-null   float64
 2   High       4486 non-null   float64
 3   Low        4486 non-null   float64
 4   Adj Close  4486 non-null   float64
 5   Volume     4486 non-null   float64
 6   Close      4486 non-null   float64
dtypes: float64(6), object(1)
memory usage: 280.4+ KB

# The code separates the features and the target variable from a DataFrame, where "features" include all columns except the last one, and "target" contains the last column.

In [7]:
features=df.iloc[:,:-1]
target=df.iloc[:,-1]

In [8]:
features.head()

         Date        Open        High         Low  Adj Close      Volume
0  27-08-2004  122.800003  122.800003  119.820000  88.088272  30646000.0
1  30-08-2004  121.237503  123.750000  120.625000  90.293549  24465208.0
2  31-08-2004  123.312500  123.750000  122.000000  90.416122  21194656.0
3  01-09-2004  123.750000  124.375000  122.949997  90.397820  19935544.0
4  02-09-2004  123.737503  125.574997  123.250000  90.924896  21356352.0

In [9]:
target.head()

0    120.332497
1    123.345001
2    123.512497
3    123.487503
4    124.207497
Name: Close, dtype: float64

# This line of code calculates and returns a count of the unique values in the "Close" column of the DataFrame `df`.

In [10]:
 df["Close"].value_counts()

Close
1349.599976    3
1256.900024    3
1261.449951    3
1253.025024    3
568.500000     2
              ..
470.450012     1
475.350006     1
496.424988     1
493.024994     1
3161.699951    1
Name: count, Length: 4333, dtype: int64

# Encoding

In [11]:
cat_col = features.select_dtypes(object).columns

In [12]:
cat_col

Index(['Date'], dtype='object')

In [13]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
features[cat_col] = oe.fit_transform(features[cat_col])

In [14]:
features.head()

     Date        Open        High         Low  Adj Close      Volume
0  3904.0  122.800003  122.800003  119.820000  88.088272  30646000.0
1  4333.0  121.237503  123.750000  120.625000  90.293549  24465208.0
2  4449.0  123.312500  123.750000  122.000000  90.416122  21194656.0
3    87.0  123.750000  124.375000  122.949997  90.397820  19935544.0
4   233.0  123.737503  125.574997  123.250000  90.924896  21356352.0

# The code splits the dataset into training and testing sets (`xtrain` and `xtest` for features, and `ytrain` and `ytest` for the target) with an 80-20 ratio and a fixed random seed for reproducibility (random_state = 1).

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(features,target,test_size = 0.2,random_state = 1)

# 1 - predict data using multiple regression

In [16]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(xtrain,ytrain)

ypred=lr.predict(xtest)

In [17]:
ytest

1857     618.525024
2296     992.299988
1962     611.525024
2868    1236.699951
4322    3733.750000
           ...
2969    1300.525024
1522     493.024994
2950    1276.300049
1564     551.825012
2974    1272.074951
Name: Close, Length: 898, dtype: float64

In [18]:
ypred

array([ 611.20764222,  986.59512084,  610.3247345 , 1242.52171206,
       3767.1967617 , 1130.75963746, 3573.72798882, 1280.79089976,
       1324.51554987,  742.66918603, 3652.26504976,  590.81758523,
       3481.19438781, 2343.31616375, 1425.19412731, 1199.43169685,
       1239.5746985 , 1159.64025939, 2084.6004976 ,  210.73102671,
        226.01895659,  373.21341011,  995.64460122,  416.17322646,
       1287.93287306, 1812.22971057, 1281.33839032, 1297.2326196 ,
        130.70350662,  583.97992629, 3744.38674427,  145.61681092,
       1249.02318067,  640.69257893, 3208.61438742,  148.75535586,
        983.04185448,  170.21466291, 2312.17692209, 3636.13558688,
       1078.1726821 , 1175.27070399, 3211.70096155,  207.02686482,
        644.70872122, 1318.9403595 ,  377.86306786, 1174.67541783,
       1045.1720151 ,  600.11628595, 3126.64012704, 3131.06743038,
        144.21052432, 1182.79816991,  176.3403268 , 1918.41899211,
       3267.93581012, 1114.37554004,  975.88069894,  254.28683089,
       1142.03858836,  381.57381219,  672.03557453, 3271.00689865,
       1158.96970648,  721.36452652, 1966.51187971, 1339.11448227,
        351.54543205,  344.42981695, 1902.3545966 , 3623.0547087 ,
        126.10958191, 1282.18261095,  277.50609222, 1093.0335681 ,
       2221.16676128, 2047.42163594, 1217.02401499, 3173.62868848,
       1096.110891  , 1069.86315987, 1955.51769753, 1290.58842245,
       3545.31008362, 1085.28375904, 2017.28549576,  537.07738067,
        262.26104201, 1206.93338628,  161.79733994, 1278.30881214,
        683.60180469,  159.35767795,  224.51216901,  619.00737459,
       2054.63715696,  157.53986141,  435.38650521, 3592.57627817,
        238.89628431,  276.66867222, 1159.27476307,  765.52313061,
        281.5811197 , 1137.52191322,  333.37071404, 2260.06097695,
       1215.07523364, 2062.94548704,  214.11008724,  692.79384231,
       1283.76259171,  176.98419323,  389.71720037, 2209.45076723,
       1100.47298246,  605.71428148,  139.5739466 ,  184.59003173,
       3007.68267181,  156.4958153 ,  158.55766814, 1125.1602235 ,
       1155.60279544, 2150.6177253 ,  742.7285255 ,  310.9977114 ,
        723.51991298,  769.03474151,  269.17348912,  127.63851141,
        145.78182712,  655.28615854,  160.98760963,  167.54747221,
       1330.45130493, 2102.19003869, 1150.31594123, 1204.29235609,
        210.01048989,  128.9949972 , 1288.87753551,  474.4658811 ,
       2041.53438864, 1224.40039568,  121.2862103 , 1266.20030682,
        265.97682323,  372.37771498,  176.22564111, 2187.35440718,
        269.28958094,  604.30204468, 3957.39214524, 1265.13050058,
        485.21085488, 2140.00132637, 3579.18003835,  252.79373105,
       1860.03013569,  204.45784787,  479.88565407, 1176.41687847,
       1514.61221768,  587.59063484, 1290.47343677, 3519.15812534,
        612.66889283, 1982.41894358, 1049.34761376,  302.77607562,
       1734.9844336 ,  208.68837138,  218.83903279, 3075.17548604,
       2661.97316033,  134.43054807, 2296.56093431,  128.3481934 ,
       1268.65058816,  166.53166774,  513.16866924,  251.66559244,
        569.5359438 ,  208.81387826, 3420.63537999, 1451.10970366,
        288.52143541,  147.81799573,  209.04184367,  239.04655241,
        276.85081645,  525.84573858, 1281.56145912,  222.13476377,
        179.32677253,  243.55335818, 2062.84988811,  291.01160733,
       3229.03633607, 1962.7411935 , 1332.2812251 ,  274.86966356,
        366.37392103, 3746.06666868,  398.29231051, 3384.40671629,
        600.82184187, 1086.34167643, 1516.73035692, 1598.41732899,
        934.23455918, 2919.75452634,  159.74918597,  257.04904716,
       1294.46026194, 3663.78538741, 1247.50934106, 1186.84259099,
        609.81180042,  507.8988731 , 3400.44528269, 3223.0056573 ,
        160.05728585, 3618.62183433, 3623.84534409,  540.29866531,
       2059.13749727,  208.33359571, 1974.31227624, 3282.43489892,
        280.82396109, 2187.00549573, 1925.12432879, 3141.96381448,
        171.67382855, 1130.93116572, 1288.38447981, 3547.79534153,
       3622.66759169, 1219.79211159,  122.09914798, 1086.6759469 ,
        218.45546876, 1077.12453562,  967.69516142, 1270.6371112 ,
       3193.7462915 ,  131.1317165 , 1350.43828236,  209.4539109 ,
        166.92638435, 2165.08273604, 3445.1154176 ,  485.65292097,
        216.90874397, 1293.30761397, 1954.66381076,  256.50843409,
        756.46480229,  565.07839231, 2030.1814653 , 2332.06889637,
       1304.94582101,  614.48792239, 2107.29865224,  237.82575088,
        325.41810887,  595.66364221,  134.16541518,  609.93248466,
       3637.57992966, 3936.91371123,  636.71582029,  372.49514536,
        361.58064055, 2934.9341905 , 2005.39359477,  594.69689114,
        588.42312841, 1758.14899781,  147.81540638, 1746.94455395,
       3644.08097683,  171.72173272, 1103.86991605, 2862.68818524,
       3151.28743889, 1278.51579096, 1322.25358007,  663.85627909,
       3583.39372564,  217.8793391 ,  144.2457372 ,  156.08166091,
       2986.75185574, 1286.14021072,  782.31506984, 2110.8785967 ,
        587.17001622,  163.89501712, 1079.86023795,  255.70757204,
        267.60866775, 1188.24426199,  570.60880888, 3705.07939099,
       2047.02691231,  254.93879423,  206.34329298, 1231.1534206 ,
        373.22466037, 1270.97510098,  213.97417854, 1174.54963055,
       1203.15465141, 1275.60569172,  221.36927278, 1315.98207361,
       1919.34035259, 1218.54797137, 1807.78199384,  357.3847809 ,
        611.45035054, 1027.46529323, 2047.95742865,  202.91537228,
       1890.02423742,  168.3095724 ,  208.4254198 ,  289.76704669,
        555.27336626, 2080.75153961,  637.32236352, 3447.41608521,
        183.47476513, 3191.38225634, 1285.0935702 , 1456.97016061,
       1262.05959946,  966.49603457,  583.15810868, 1185.52334614,
       1112.51970844, 1202.22979423,  261.17812171, 1192.96395573,
       1289.07164784, 1082.79967829, 1183.98063181, 1026.51096179,
       1230.87782206,  211.40689177,  125.24909045, 2047.53553622,
       1518.66230548, 2146.5530249 , 1114.66426418, 1336.2913268 ,
       1203.63742077,  595.02093456, 1195.09605488,  216.25264487,
       1224.75724185,  673.5392802 , 2073.39903724, 1231.65858562,
        158.06062119, 1103.50438374, 1831.73498694,  210.87945712,
       1202.5978004 , 1367.34644586,  465.12184778,  309.4483445 ,
        410.30827182, 3080.82748193, 2139.9769582 , 3684.73352736,
        517.31602494, 1292.35722754, 1988.17420868,  645.04169654,
       1356.40111075, 3513.35311928,  124.81334204, 1232.13536919,
        139.72876039,  186.66484666,  524.23186542,  161.25191473,
       1724.17497621, 1255.63559611,  309.64486668, 1034.77982635,
        552.8244735 ,  480.5938232 , 1306.46238886, 1170.63284476,
       1117.57438123,  539.45861773, 3775.13524037,  563.79997248,
        316.83467686,  159.21105551, 1654.93765234,  135.30159343,
       2272.59694991,  371.07713032, 3156.31276351, 2489.50180859,
       1266.33048583,  686.92439662,  249.63544757,  231.85210568,
       1984.3634191 , 1234.19811684, 1197.34539267,  581.58361127,
       1759.4237294 , 1543.19169826,  591.37153624, 1251.16705075,
        315.05317938, 3545.9996535 ,  629.10692123, 3473.09911981,
       1247.64553662, 2207.51256086, 3711.75170545, 1220.44966528,
        251.16482562,  208.4123135 ,  754.80362169, 1223.23330141,
       1754.04060754,  558.74481103, 2826.70714742,  296.43563491,
        413.80018377, 1229.71422176, 2061.89282937, 1019.94912373,
       1275.77372339,  133.32185658, 1218.88798205, 1142.70090074,
        779.99191978,  289.19207152, 1199.91034774, 1117.70593557,
        610.51005873,  611.61054907, 1251.34815175,  305.82257424,
        212.71534437, 1988.60131627, 2985.02789456,  298.68856943,
       1879.80738227,  209.64810224,  203.92211949, 3287.56893321,
        191.33154605,  256.53631912, 2005.72129291,  214.1974343 ,
       1348.83220338,  606.21412615,  160.90450622,  120.8770203 ,
        597.83146956, 1292.90126184,  170.15734757,  627.23324048,
       1116.18474322, 3459.82862945, 2035.20339029, 1073.84737104,
        593.24945975, 1208.29487377,  394.52013711,  561.42810116,
       2218.65871648, 2042.03747735,  273.68365164, 1856.67512769,
        324.44336257,  647.26607871,  156.93966997,  519.5201217 ,
       1097.55122285,  270.03614037,  260.96729069, 3000.7436738 ,
       1278.87190258,  164.99203166,  393.09895666,  544.5029132 ,
        264.75300489, 3727.03920783, 2106.91185749, 3123.92829709,
       2142.59770453,  732.1335935 ,  408.06302165,  311.53727664,
        161.84418231, 3479.76115995,  959.80809428,  153.99469335,
       1208.8475389 , 1580.28786651,  287.20000886,  527.85427202,
        565.33563784,  183.03901723,  118.34634599,  432.51427958,
       2173.3441705 ,  126.68346031,  166.87356452, 1300.46681301,
       1978.87188659,  234.2797973 ,  625.36860072, 3532.2363976 ,
       1094.58240412, 2673.01822176, 1181.96099358,  161.99524616,
       2185.39830163,  749.20310578, 3211.41842836, 2133.00841582,
        268.34024639, 1826.10037495, 3159.04585217, 3167.66559495,
        219.57783154,  213.98650898,  219.97608421,  128.47527564,
       1161.79627944, 1317.96727175, 1203.50070755,  253.02437429,
       3130.44481931, 1290.96270332, 1918.11660233,  161.70819056,
        188.73827432,  569.95063428, 1057.93358359, 1259.4923616 ,
        298.28605875, 3178.13436005, 2220.69067976,  536.35228009,
       1252.82362666,  172.01887775, 1300.22808464, 1475.04080108,
        165.82001021, 1265.93375633, 1356.72477931,  598.17056081,
       2295.11003012, 3097.54545894,  396.08254231,  633.56432937,
       1873.66269228, 2801.42604359,  534.34861109,  635.1287449 ,
        623.28877127,  174.30053531,  237.0639437 ,  384.15209565,
        519.98931478,  264.47132615, 1272.59462089,  126.59804252,
        239.9583499 ,  132.6283904 , 2770.21424184, 2092.30229086,
        264.00854213,  288.05657803, 1190.14889274, 2041.61916468,
        218.46276811,  259.2985501 ,  246.79096618, 2195.04379838,
        214.1960335 ,  414.95588174,  270.71859921, 2225.95872995,
        272.99469782,  155.88923437, 1232.36925963, 1277.03332362,
        724.89485169, 1295.51394979, 3125.97822856, 1005.20228505,
       2090.44939637,  649.84663571, 3089.85658983,  371.59214249,
        183.40454943, 1596.54706609, 1516.49912064,  645.69926537,
       1970.3039495 , 1946.30788089,  649.86915742, 3154.32304387,
        577.94671865, 1315.81858256, 1420.97803231, 1039.55164945,
       1209.97275493, 3113.27777115,  145.39824434,  307.91492772,
       3256.73981888,  544.2794565 ,  192.30587351,  245.99230294,
        219.0679067 , 3560.02297375,  125.0861602 , 1323.6683366 ,
        670.38798552, 1458.61955956,  387.56605282,  173.06933284,
       1343.89491506,  132.85644276, 1083.6756937 ,  240.78393009,
        243.33640673, 3125.91977302, 1000.46118597, 3485.91993489,
        156.00349772,  612.69273531, 1237.62350121, 2037.23257122,
       1971.5135967 ,  238.77249404,  531.41022603, 2004.77448362,
       1265.61388492, 2720.0205369 , 1096.91285085, 1292.35266284,
        246.63122513,  303.09052103,  289.32304725, 2692.29483086,
       1298.47798519, 1010.96903658, 1091.50054815,  586.90300936,
        733.44036069,  222.51739101, 3712.38093437, 1049.06061043,
       2899.16635668, 1097.65213325, 1246.87261078,  565.83807222,
        256.37987252, 3632.7459457 ,  544.43457296, 1176.73526929,
       1417.69056682, 3033.14082608,  702.96363666,  351.42451565,
       2099.51254855, 1451.76946909, 1118.23436959,  178.43593244,
        549.50694029,  289.23599993,  274.31240444, 1989.37146872,
       2161.43512074,  165.40998601,  311.6446247 ,  591.95128727,
        315.57552362,  196.14483197,  142.86424675, 1229.75756143,
        536.61237681, 1289.93091214,  236.98225558,  513.98346158,
        715.05130946, 3253.44577043, 1160.46412653,  317.01369673,
       3538.56438486, 1246.69543783, 1301.84982179,  592.55626676,
        153.10477242, 3568.90006911, 1081.19642618,  638.68246627,
        229.20998338, 1273.23704767,  236.59214839, 1740.63163974,
        370.89726234,  174.00349327, 1264.82786464,  223.37806968,
        126.01700655,  592.09301611, 1280.91129212, 2109.89907373,
       1219.64733924, 1242.80597373,  159.31799719,  155.27879186,
       1236.30949484,  324.87115187, 1274.10484932,  161.09792028,
       1246.37643   , 2207.6219234 ,  523.34403258,  271.14425534,
        127.30850179, 2106.08153928, 1943.16362569,  246.99566628,
       3608.2918364 ,  347.06035973, 1208.87303071, 2113.2710302 ,
       1267.19204642,  274.32229562,  192.40533871, 3651.02973543,
        242.99249957, 1879.1388224 ,  127.83901247, 3788.71313706,
       2169.22439446, 1047.10146926,  673.16505399, 3880.16629311,
       1316.47416167, 1050.40518487,  352.46207812,  231.04232847,
        684.58991742,  442.76118965,  531.22427256,  286.06593994,
       3148.43774981,  161.8508972 , 1296.08878488, 2116.01630061,
       1391.65395564, 2089.70724617, 1181.36219784,  174.92239453,
       1164.23131175, 1293.61453623, 1339.77835736,  267.18957163,
       1954.7932336 , 2060.9565829 , 1304.25134415,  884.84335979,
       2034.64929906, 1314.55620827,  190.78859417, 2106.3218395 ,
       1194.36831621,  259.76933175,  211.43830004, 3318.57139685,
       3308.03345701, 3229.48219751,  735.09287973,  584.56265991,
        160.82026995, 2086.04359273,  631.74751648,  571.81101216,
       3208.67812892,  542.24981063,  641.00514444,  247.60886077,
       1059.67052537, 3542.22839484,  256.21362307,  752.60420202,
       3745.92186549,  145.46080074, 1247.47900054, 3085.92970241,
       1990.38843322,  214.82691296,  565.95586864, 1254.25635253,
        281.09099039, 2026.68275876, 2108.93368945,  175.91717671,
        252.55184118, 3082.81036084, 3121.60941466, 3138.3276841 ,
       1768.18059651,  381.79822254,  324.79757347,  125.36145639,
        587.9129609 ,  243.63403533, 2469.47719848,  185.62396142,
        733.31759317, 2239.23767256,  597.2530099 , 2193.99740314,
       1173.77064464, 1949.7054951 ,  204.3015499 ,  836.79080627,
       1255.04124231,  209.79372716,  749.88080791,  253.51668077,
        221.25355738,  240.44300194,  542.79631363, 3875.53798339,
       2107.22114863,  283.87932531, 3314.85764625,  216.54828005,
       1291.22273595, 3742.98711233,  220.73954705,  386.78448406,
       3174.87885184,  597.36555053, 1977.33835492, 2699.59251081,
        596.12718854, 1231.8190827 ,  139.6176648 ,  118.20898734,
        246.65405487, 1993.12312604,  617.01158413, 1144.75434469,
        654.30459454,  209.65680426,  244.15480411,  565.93860491,
       1967.55844278,  270.74235358, 1325.73866231,  199.7258229 ,
        202.81297133,  152.63727606,  132.32941452,  158.98608335,
        244.34081617, 1295.97888831,  263.51081912,  249.14643664,
       3830.34660638,  143.34680827, 3254.83782821, 2234.30765418,
        587.22766991,  247.91068086, 3769.79228568, 1880.8644201 ,
        544.8592126 , 1293.62966968,  495.60285723, 1271.51411122,
        550.16352949, 1266.37796799])

In [19]:
lr.coef_

array([ 2.94603047e-05, -5.20368349e-01,  8.14990869e-01,  6.68629684e-01,
        3.53552812e-02, -3.16720856e-07])

In [20]:
lr.intercept_

4.354565878887797

# The provided code calculates and prints the Mean Squared Error (MSE) and the R-squared (R2) score, providing insights into the model's prediction accuracy and goodness of fit.

In [21]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(ytest, ypred)
r2 = r2_score(ytest, ypred)

print("Mean Squared Error:", mse)
print("R-squared (R2) Score:", r2)

Mean Squared Error: 86.55892590215834
R-squared (R2) Score: 0.9999185548342606

In [22]:
df.head()

,Date,Open,High,Low,Adj Close,Volume,Close
0,27-08-2004,122.800003,122.800003,119.820000,88.088272,30646000.0,120.332497
1,30-08-2004,121.237503,123.750000,120.625000,90.293549,24465208.0,123.345001
2,31-08-2004,123.312500,123.750000,122.000000,90.416122,21194656.0,123.512497
3,01-09-2004,123.750000,124.375000,122.949997,90.397820,19935544.0,123.487503
4,02-09-2004,123.737503,125.574997,123.250000,90.924896,21356352.0,124.207497

In [23]:
lr.predict([[233.0,123.737503,125.574997,123.250000,90.924896,21356352.0]])[0]

121.17410765935378

# 2 - Predict data using DecisionTreeRegressor

In [24]:
from sklearn.tree import  DecisionTreeRegressor
from sklearn import tree

In [25]:
dt1=DecisionTreeRegressor()

In [26]:
from sklearn.metrics import r2_score
def mymodel(model):
    model.fit(xtrain,ytrain)
    y_train_pred=model.predict(xtrain)
    y_test_pred=model.predict(xtest)
    print("Train Data")
    print("train r2_score" , r2_score(ytrain,y_train_pred))
    
    print("Test Data")
    print("test r2_score" , r2_score(ytest,y_test_pred))

In [27]:
mymodel(dt1)

Train Data
train r2_score 1.0
Test Data
test r2_score 0.9998963234431784

In [28]:
dt1.score(xtrain,ytrain)

1.0

In [29]:
dt1.score(xtest,ytest)

0.9998963234431784

In [30]:
for i in range(1,30):
    dt1=DecisionTreeRegressor(max_depth=i)
    dt1.fit(xtrain,ytrain)
    y_train_pred=dt1.predict(xtrain)
    y_test_pred=dt1.predict(xtest)
    
    r1=r2_score(ytrain,y_train_pred)
    r2=r2_score(ytest,y_test_pred)
    print(f" Max_depth:{i} Accuracy:{r1}")
    print(f" Max_depth:{i} Accuracy:{r2}")

 Max_depth:1 Accuracy:0.7331776543841623
 Max_depth:1 Accuracy:0.7400792710827797
 Max_depth:2 Accuracy:0.9613570507430269
 Max_depth:2 Accuracy:0.9649477846586687
 Max_depth:3 Accuracy:0.9894832739364113
 Max_depth:3 Accuracy:0.9912435441650919
 Max_depth:4 Accuracy:0.996779623558727
 Max_depth:4 Accuracy:0.9971670424887642
 Max_depth:5 Accuracy:0.9991559374991866
 Max_depth:5 Accuracy:0.9991578871858916
 Max_depth:6 Accuracy:0.9997408782907956
 Max_depth:6 Accuracy:0.999659822128328
 Max_depth:7 Accuracy:0.9999013060582126
 Max_depth:7 Accuracy:0.9998268434195346
 Max_depth:8 Accuracy:0.9999498898121859
 Max_depth:8 Accuracy:0.9998680915243607
 Max_depth:9 Accuracy:0.9999726528078753
 Max_depth:9 Accuracy:0.999882624256297
 Max_depth:10 Accuracy:0.9999872857205612
 Max_depth:10 Accuracy:0.9998975915710344
 Max_depth:11 Accuracy:0.9999940770918568
 Max_depth:11 Accuracy:0.9998911190386444
 Max_depth:12 Accuracy:0.9999973343969369
 Max_depth:12 Accuracy:0.9998890475783945
 Max_depth:13 Accuracy:0.9999989600913176
 Max_depth:13 Accuracy:0.9998762155255733
 Max_depth:14 Accuracy:0.9999995947359177
 Max_depth:14 Accuracy:0.9998984687526821
 Max_depth:15 Accuracy:0.9999998581408219
 Max_depth:15 Accuracy:0.9998903840328506
 Max_depth:16 Accuracy:0.9999999482267738
 Max_depth:16 Accuracy:0.99989603626951
 Max_depth:17 Accuracy:0.9999999872038623
 Max_depth:17 Accuracy:0.9998952696937693
 Max_depth:18 Accuracy:0.9999999966554917
 Max_depth:18 Accuracy:0.9998964327300743
 Max_depth:19 Accuracy:0.9999999997846704
 Max_depth:19 Accuracy:0.9998973438868837
 Max_depth:20 Accuracy:0.9999999999954059
 Max_depth:20 Accuracy:0.9998950389185349
 Max_depth:21 Accuracy:1.0
 Max_depth:21 Accuracy:0.9998993933466499
 Max_depth:22 Accuracy:1.0
 Max_depth:22 Accuracy:0.9998880501039283
 Max_depth:23 Accuracy:1.0
 Max_depth:23 Accuracy:0.9998934466922703
 Max_depth:24 Accuracy:1.0
 Max_depth:24 Accuracy:0.9998881036240999
 Max_depth:25 Accuracy:1.0
 Max_depth:25 Accuracy:0.9998990911917313
 Max_depth:26 Accuracy:1.0
 Max_depth:26 Accuracy:0.9998837184275626
 Max_depth:27 Accuracy:1.0
 Max_depth:27 Accuracy:0.9999054110490295
 Max_depth:28 Accuracy:1.0
 Max_depth:28 Accuracy:0.9998920017079048
 Max_depth:29 Accuracy:1.0
 Max_depth:29 Accuracy:0.9998842589343122

In [31]:
dt2=DecisionTreeRegressor(max_depth=4)
mymodel(dt2)

Train Data
train r2_score 0.996779623558727
Test Data
test r2_score 0.9971670424887642

In [32]:
dt2.score(xtrain,ytrain)

0.996779623558727

In [33]:
dt2.score(xtest,ytest)

0.9971670424887642

# The provided code calculates and prints the Mean Squared Error (MSE) and the R-squared (R2) score, providing insights into the model's prediction accuracy and goodness of fit.

In [34]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(ytest, ypred)
r2 = r2_score(ytest, ypred)

print("Mean Squared Error:", mse)
print("R-squared (R2) Score:", r2)

Mean Squared Error: 86.55892590215834
R-squared (R2) Score: 0.9999185548342606

In [35]:
dt1.predict([[233.0,123.737503,125.574997,123.250000,90.924896,21356352.0]])[0]

124.207497

# 3 - Predict data using suport vector regressor

In [36]:
from sklearn.svm import SVR

In [37]:
svr = SVR(kernel='linear')  # You can choose a different kernel if needed (e.g., 'rbf')
svr.fit(xtrain, ytrain)

In [38]:
ypred = svr.predict(xtest)

# The provided code calculates and prints the Mean Squared Error (MSE) and the R-squared (R2) score, providing insights into the model's prediction accuracy and goodness of fit.

In [39]:
# Evaluate the model
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(ytest, ypred)
r2 = r2_score(ytest, ypred)

print("Mean Squared Error:", mse)
print("R-squared (R2) Score:", r2)

In [40]:
svr.predict([[233.0,123.737503,125.574997,123.250000,90.924896,21356352.0]])[0]

# 4 - Predict data using XGB Regressor

In [41]:
import xgboost as xgb

In [42]:
model = xgb.XGBRegressor(
    n_estimators=100,  # Number of boosting rounds
    max_depth=3,       # Maximum depth of each tree
)

In [43]:
# Fit the model to the training data
model.fit(xtrain, ytrain)

# Make predictions on the test data
ypred = model.predict(xtest)

# Evaluate the model
mse = mean_squared_error(ytest, ypred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 201.8991319167036

# The provided code calculates and prints the Mean Squared Error (MSE) and the R-squared (R2) score, providing insights into the model's prediction accuracy and goodness of fit.

In [44]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(ytest, ypred)
r2 = r2_score(ytest, ypred)

print("Mean Squared Error:", mse)
print("R-squared (R2) Score:", r2)

Mean Squared Error: 201.8991319167036
R-squared (R2) Score: 0.9998100287394951

In [45]:
model.predict([[233.0,123.737503,125.574997,123.250000,90.924896,21356352.0]])[0]

125.12077

# 5 - Predict data using Random Forest Regressor

In [46]:
from sklearn.ensemble import RandomForestRegressor

In [47]:
model = RandomForestRegressor()
mymodel = model.fit(xtrain,ytrain)
# training the model

In [48]:
ypred = mymodel.predict(xtest)

# The provided code calculates and prints the Mean Squared Error (MSE) and the R-squared (R2) score, providing insights into the model's prediction accuracy and goodness of fit.

In [49]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(ytest, ypred)
r2 = r2_score(ytest, ypred)

print("Mean Squared Error:", mse)
print("R-squared (R2) Score:", r2)

Mean Squared Error: 76.97736568546495
R-squared (R2) Score: 0.9999275703315275

In [50]:
model.predict([[233.0,123.737503,125.574997,123.250000,90.924896,21356352.0]])[0]

124.23089803999991